.visual_img li{
    position:relative;
    display:inline;
    max-height:240px;

}
.visual_img{
    max-height:240px;
}
.visual_img li img{
width:414px; 
overflow: hidden;
max-height:initial;
margin-top:-50%;
} 
